cache_dir
outputs
runs
fine_tune/tmp
roberta-base_lr=1e-05_epoch=3_include_hatemoderate
roberta-base_lr=1e-05_epoch=3_no-include_hatemoderate
roberta-base_lr=1e-06_epoch=3_include_hatemoderate
roberta-base_lr=1e-06_epoch=3_no-include_hatemoderate
roberta-base_lr=2e-06_epoch=3_include_hatemoderate
roberta-base_lr=2e-06_epoch=3_no-include_hatemoderate
roberta-base_lr=3e-06_epoch=3_include_hatemoderate
roberta-base_lr=3e-06_epoch=3_no-include_hatemoderate
roberta-base_lr=5e-06_epoch=3_include_hatemoderate
roberta-base_lr=5e-06_epoch=3_no-include_hatemoderate
roberta-base_lr=2e-05_epoch=4_include_hatemoderate
roberta-base_lr=2e-05_epoch=4_no-include_hatemoderate
test_results.txt

