cache_dir
outputs
runs
fine_tune/tmp
roberta-base_lr=2e-05_epoch=4_batch_size=32_include_hatemoderate
roberta-base_lr=2e-05_epoch=4_batch_size=32_no-include_hatemoderate
test_results.txt
postprocess/process_gpt.ipynb
postprocess/.ipynb_checkpoints
roberta-base_lr=1e-05_epoch=4_batch_size=4_include_hatemoderate
roberta-base_lr=2e-05_epoch=2_batch_size=4_include_hatemoderate
fine_tune/datasets/testing/hatemoderate_test_raw.csv
roberta-base_lr=2e-05_epoch=2_batch_size=16_include_hatemoderate
roberta-base_lr=2e-05_epoch=2_batch_size=16_no-include_hatemoderate
roberta-base_lr=2e-05_epoch=2_batch_size=4_no-include_hatemoderate
roberta-base_lr=2e-05_epoch=4_batch_size=32_include_dynahate
fine_tune/testing/test.ipynb
fine_tune/testing/.ipynb_checkpoints
fine_tune/datasets/training/all_train.csv
/fine_tune/tmp_openai/
test_openai_results.txt
Hate_Check_openai.csv
hatemoderate_test_openai.csv
best_hp_all_train_gpt
best_hp_rebalance
test_htpo_openai.csv
test_hatex_openai.csv
test_hatE_openai.csv
fine_tune/datasets/testing/test.csv
best_hp_card+dynahate
best_hp_card+dynahate+nonDH-HM
fine_tune/testing/bias_in_hatemoderate.ipynb
fine_tune/testing/ttest.ipynb
fine_tune/testing/bias_hatecheck_simple_test.ipynb
postprocess/all_examples.csv
fine_tune/datasets/testing/test.csv
roberta-base_lr=1e-05_epoch=4_batch_size=32_include_hatemoderate
roberta-base_lr=1e-05_epoch=4_batch_size=32_rebalance
roberta-base_lr=2e-05_epoch=4_batch_size=32_rebalance
fine_tune/testing/simple_cases_test_bias.py
readme_test.ipynb
roberta-base_lr=2e-05_epoch=4_batch_size=32_include_dynahate+HM
.ipynb_checkpoints/
readme_test.ipynb
fine_tune/testing/ttest_tmp/*